---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  mission: CollectionEntry<'mission'>;
}

const { mission } = Astro.props;
---

<a href={`/co-delame/${mission.slug}`}>
    <article class="group relative overflow-hidden rounded-lg drop-shadow-bold border border-black">
        <Image src={mission.data.image} alt={mission.data.title} class="w-full" />
        <div class="prose prose-invert bg-gradient-to-r from-primary to-primary-dark max-w-none inline-block absolute bottom-0 p-3 rounded-tr-lg drop-shadow-bold">
            <h2 class="text-shadow">{mission.data.title}</h2>
        </div>
    </article>
</a>
